// main: index.less
// Navigation Styles here

.navigation {
  margin: 30px auto 0;
  max-width: 800px;

  nav {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;

    .links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 42%;

      a {
        text-decoration: none;
        color: @font-color;
        font-size: 1.6rem;
      }
    }
  }

  .full-line {
    width: 100vw;
    margin-left: ~'calc((100vw - 800px) / 2 * -1)';
    border-bottom: 2px dashed @navigation-border;
  }
}
